# El navegador usa el proxy de Vite para evitar CORS durante el desarrollo local.
VITE_API_URL=/api
VITE_API_PROXY_TARGET=https://ej70qoei44.execute-api.us-east-1.amazonaws.com
VITE_COGNITO_DOMAIN=https://alaskerp-dev-897722706156.auth.us-east-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=7iprvm63nhi7o5cgam9vm44enl
VITE_BASE_PATH=/
